<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

Welcome, {{name}}
    <form action="/update-card/:{{id}}" method="post">
        <input type="text" placeholder="Name" name="cardName"/>
        <input type="text" placeholder="Year" name="year"/>
        <input type="text" placeholder="Type" name="type"/>
        <input type="text" placeholder="Condition" name="condition"/>
        <input type="hidden" value="{{id}}" name="id"/>
        <button type="submit">Add</button>
    </form>


</body>
</html>