<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

Welcome, {{name}}
<form action="/create-card" method="post">
    <input type="text" placeholder="Name" name="cardName"/>
    <input type="text" placeholder="Year" name="year"/>
    <input type="text" placeholder="Type" name="type"/>
    <input type="text" placeholder="Condition" name="condition"/>
    <button type="submit">Add</button>
</form>
<ol>
    {{#cardList}}
    {{cardName}} {{year}} {{type}} {{condition}}
    {{/cardList}}
</ol>

</body>
</html>